// These colors are specific to the theme. Do not use in a package!

@ghost-white:       #F8F8F0;
@light-ghost-white: #F8F8F2;
@light-gray:        #CCC;
@gray:              #888;
@brown-gray:        #49483E;
@dark-gray:         #282828;

@yellow:            hsl( 43, 90%, 72%); // <-yellow
@blue:              hsl(188, 78%, 63%); // <-blue
@pink:              hsl(349, 99%, 69%); // <-magenta
@purple:            hsl(246, 68%, 75%); // <-purple
@brown:             #75715E;
@orange:            hsl( 20, 96%, 69%); // <-orange
@light-orange:      #FFD569;
@green:             hsl(100, 68%, 65%); // <-green
@sea-green:         #529B2F;
